.hero{
    background: center center/cover;
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}
.overlay{
    position: absolute;
    background-color: rgb(0,0,0,.4);
    background-image: linear-gradient(to bottom, transparent 90%, #141414 100%);
    width: 100%;
    height: 120vh;
}
.hero img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-content{
    margin-left: 4rem;
    z-index: 2;
}
.hero h1{
    font-size: clamp(2rem,6vw,7rem);
    text-transform: uppercase;
}
.hero span{
    font-size: 1.5rem;
}
.hero p{
    width: 50%;
    font-size: 2rem;
}

.hero .description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
    font-size: clamp(1.5rem,2vw,3rem);
}

.hero .info-btn{
    margin: 4rem 0 1rem;
    background-color: #4A4A4A;
    min-width: 200px;
    width: fit-content;
    border-radius: 4px;
    gap: 1rem;
    font-size: clamp(1rem,1.5vw,2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.hero .info-btn .info-icon{
    font-size: clamp(2rem,2vw,4rem);
}