.slider{
    width: 100%;
    display: flex;
    position: relative;
    transition: 1s;
    --btn-opacity:0;
    --btn-event:none;
    /* --initial-track-width:-200%; */
}
.track{
    width: 100%;
    display: flex;
    transform: translateX(var(--initial-track-width));
    --slide-opacity:0;
    --slide-event:none;
    --slides-on-screen:6;
    --hidden-child:11;
    --previous-bars:8;
    --slide-width:calc((100%/var(--slides-on-screen) - .5rem));
    gap: .48rem;
}

.slide{
    flex: 0 0 var(--slide-width);
    aspect-ratio: 16/9;
    background-color: #242424;
    border-radius:4px;
    cursor: pointer;
    transition: .2s;
    overflow: hidden;
    position: relative;
    
}
/* .slide:nth-child(12){
    opacity: var(--slide-opacity);
    pointer-events: var(--slide-event);
} */
.slide .slide-overlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}

.slide .slide-overlay:hover{
    opacity: 1;
}

.slide .slide-overlay .info-btn{
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
}

.slide img{
    width: 100%;
    height: 100%;
    transition: .2s;
    object-fit:cover;

}

.bars{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: -10%;
    right: 0;
    opacity: 0;
}

.left-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4%;
    height: 100%;
    left: -3.8%;
    background-color: rgba(0,0,0,.6);
    font-size: clamp(3rem,3vw,4rem);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    z-index: 1;
    opacity: var(--btn-opacity);
    pointer-events: var(--btn-event);
}

.left-btn:hover .left-icon{
    scale: 1.2;    transition: .2s;
}
.left-icon{
    opacity: 0;
}
.right-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    height: 100%;
    right: -3.8%;
    background-color: rgba(0,0,0,.6);
    font-size: clamp(3rem,3vw,4rem);
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    z-index: 1;
}

.right-btn:hover .right-icon{
    scale: 1.2;    transition: .2s;
}
.right-icon{
    opacity: 0;
}

.slider:hover .left-icon,.slider:hover .right-icon,.slider:hover .bars{
    opacity: 1;
}
.absolute{
    position: absolute;
    left: -100.4%;
    opacity: var(--slide-opacity);
    pointer-events: var(--slide-event);
    flex-direction: row-reverse;
    /* top: 50%; */
}
@media (max-width:1399px){
    .track{
        --slides-on-screen:5;
        /* --track-width:calc(100% / var(--slides-on-screen));
        --dispalced-elements:2;
        --new-track-width:calc(var(--initial-track-width) - calc(var(--track-width)*var(--dispalced-elements)));
        transform: translateX(var(--new-track-width));
        --previous-bars:11; */
    }
}

@media (max-width:1099px){
    .track{
        --slides-on-screen:4;
        /* --track-width:calc(100% / var(--slides-on-screen));
        --dispalced-elements:4;
        --new-track-width:calc(var(--initial-track-width) - calc(var(--track-width)*var(--dispalced-elements)));
        transform: translateX(var(--new-track-width));
        --previous-bars:14; */
    }
}

@media (max-width:799px){
    .track{
        --slides-on-screen:3;
        /* --track-width:calc(100% / var(--slides-on-screen));
        --dispalced-elements:6;
        --new-track-width:calc(var(--initial-track-width) - calc(var(--track-width)*var(--dispalced-elements)));
        transform: translateX(var(--new-track-width));
        --previous-bars:4; */

    }
}

@media (max-width:499px){
    .track{
        --slides-on-screen:2;
                /* --track-width:calc(100% / var(--slides-on-screen));
        --dispalced-elements:8;
        --new-track-width:calc(var(--initial-track-width) - calc(var(--track-width)*var(--dispalced-elements)));
        transform: translateX(var(--new-track-width));
        --hidden-child:3; */

    }
}

